<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

  <ul class="users">
    <%= render @users %> <!--This line of code automatically iterates every user inside @users,
                              similar to the one below but more compact -->
    <%# @users.each do |user| %>
      <%#= render user %>
    <%# end %>
  </ul>

<%= will_paginate %>
